<!-- navbar  -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand"
      ><img
        src="../../assets/images/logo small.png"
        class="img-fluid img logo"
        alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav mx-3">
        <li class="nav-item">
          <a class="nav-link active text-bold" routerLink="/pharmacist"
            >Medicine Advices</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/medicines"
            >Medicines</a
          >
        </li>

        <li class="nav-item dropdown active">
          <a
            class="nav-link dropdown-toggle active"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ this.username }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item text-danger" (click)="logout()">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- navbar  -->
<div
  class="colorbar"
  style="
    height: 1rem;
    background: linear-gradient(to right, #c9e265, #38b6ff);
    border-radius: 1.5rem;
  "
></div>
<!-- content  -->

<div class="container">
  <h3 class="display-6 my-3">Medicine Bill</h3>
  <div class="header" style="border: 0px">
    <div class="form-control">
      <!-- Search -->
      <input
        class="form-control"
        type="text"
        placeholder="Search Appointment using Name,Phone Number"
        [(ngModel)]="filter"
      />
      <br />

      <div
        class="table-responsive-xl"
        id="tablePdf"
        style="display: flex; justify-content: center; margin-top: 3rem"
      >
        <br />
        <div class="col">
          <h3 style="text-align: center" class="">Medicine Bill</h3>
          <div
            class="row my-3"
            *ngFor="
              let med of medicineservice.medicinebills
                | filter: filter
                | paginate: { itemsPerPage: 1, currentPage: page }
            "
          >
            <span style="display: flex; justify-content: space-between">
              <h6>Medicine Bill Id: {{ med.MedicineBillId }}</h6>
              <br />
              <h6>
                Appointment Date:
                {{ med.AppointmentDate | date: "dd-MMM-yyyy hh:mm aa" }}
              </h6>
            </span>
            <span style="display: flex; justify-content: space-between">
              <h6>Patient Name : {{ med.PatientName }}</h6>
              <h6>Doctor:{{ med.DoctorName }}</h6>
            </span>
            <span style="display: flex; justify-content: space-between">
              <h6>Date of Birth:{{ med.DateOfBirth | date: "dd-MMM-yyyy" }}</h6>
              <h6>Receptionist: {{ med.ReceptionistName }}</h6>
            </span>
            <span style="display: flex; justify-content: space-between">
              <h6>Phone No: {{ med.Phone }}</h6>
              <h6>Pharmacist :{{ med.PharmacistName }}</h6>
            </span>
            <span style="display: flex; justify-content: space-between">
              <h6>Blood Group: {{ med.BloodGroup }}</h6>
              <h6>
                Date of Bill:{{ med.DateOfBill | date: "dd-MMM-yyyy hh:mm aa" }}
              </h6>
            </span>
            <table class="table table-info table-striped my-3">
              <thead>
                <th>Medicine Name</th>
                <th>Medicine Description</th>
                <th>Medicine Rate</th>
                <th>Quantity</th>
                <th>Dose</th>
                <th>Price</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of med.MedicinesList; index as i">
                  <td>{{ med.MedicinesList[i].MedicineName }}</td>
                  <td>{{ med.MedicinesList[i].MedicineDescription }}</td>
                  <td>{{ med.MedicinesList[i].MedicinePrice }}</td>
                  <td>{{ med.MedicinesList[i].Quantity }}</td>
                  <td>{{ med.MedicinesList[i].Dose }} mg</td>
                  <td>Rs. {{ med.MedicinesList[i].Rate }}</td>
                </tr>
              </tbody>
            </table>
            <h4 style="text-align: center">
              Total Price: Rs.{{ med.TotalAmount }}
            </h4>
          </div>
          <div
            class="btn-class my-4"
            style="display: flex; flex-direction: row; justify-content: center"
          >
            <button
              printTitle="Clinic Management System"
              printSectionId="tablePdf"
              class="btn btn-primary mx-2"
              ngxPrint
            >
              Print
            </button>
            <button class="btn btn-outline-primary" routerLink="/pharmacist">
              Go Back
            </button>
          </div>
        </div>
      </div>
      <footer class="text-center">
        <pagination-controls (pageChange)="page = $event">
        </pagination-controls>
      </footer>
    </div>
  </div>
</div>
