<h3 style="text-align: center;">Book Appointment </h3><br>
<div class="container">
    <div class="row" >
  
                    
                  <!-- <h3 style="text-align: center;">New Appointment</h3>--><br>
                   <form class="form-group" id="bookappoint" #form="ngForm" autocomplete="off" (ngSubmit)="OnSubmit(form)">
                      <!--<input type="hidden" name="AppointmentId" #AppointmentId="ngModel" [(ngModel)]="receptionservice.appFormData.AppointmentId">-->
                    <label>Token No:</label> <br>
                    <input type="text" id="token" name="TokenNo" readonly style="width:15%;"   #TokenNo="ngModel" [(ngModel)]="tokenlen"><br><br>
                       <label>Patient :</label><br>
                        <input list="patient" name="PatientId"  minlength="1" maxlength="5" #PatientId [(ngModel)]="receptionservice.appFormData.PatientId"required
                        [ngClass]="{'is-invalid': PatientId.touched && PatientId.invalid}"/>
                        <datalist id="patient">
                          <option  *ngFor="let patient of patientservice.patients"   value="{{patient.PatientId}}">{{patient.PatientName}} | {{patient.Phone}}</option>
                        </datalist>
                        <div class="validation-errors" *ngIf="PatientId.touched && PatientId.invalid" style="color: rgb(255, 0, 0); text-align: left;">
                            <div *ngIf="PatientId.errors.required">
                                PatientId is required!
                            </div>
                            </div>
                        <br>
                       <label>Available Doctor:</label> <br>
                       <select required id="doc" name="DoctorId" [(ngModel)]="receptionservice.appFormData.DoctorId" #DoctorId>
                           <option *ngFor="let staff of receptionservice.roles" value="{{staff.StaffId}}">Dr.{{staff.Name}}</option> >
                       </select>
                       <input type="hidden" name="ReceptionistId" [(ngModel)]="receptionservice.appFormData.ReceptionistId" #ReceptionistId>
                       <br><br>
                       <label>Appointment Date/Time :</label><br>
                       <input type="datetime-local" required id="date" [min]="dmin" (blur)="isDateBeforeToday()" #AppointmentDate name="AppointmentDate" [(ngModel)]="receptionservice.appFormData.AppointmentDate"> <br><br>
                        <button type="submit" class="btn btn-primary btn-lg" [disabled]="!(form.valid && form.dirty)">Book Appointment</button>
                   </form>
               
                </div>

