img {
  max-width: 20rem;
  max-height: 10rem;
  min-width: 20rem;
  min-height: 7.5rem;
}
.conatiner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.login-form {
  justify-content: center;
  min-width: 20rem;
  max-width: 35rem;
}
.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
