<!-- navbar  -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand"
      ><img
        src="../../assets/images/logo small.png"
        class="img-fluid img logo"
        alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav mx-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-bold">Features</a>
        </li>

        <li class="nav-item dropdown active">
          <a
            class="nav-link dropdown-toggle active"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ this.username }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item text-danger" (click)="logout()">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- navbar  -->
<div
  class="colorbar"
  style="
    height: 1rem;
    background: linear-gradient(to right, #c9e265, #38b6ff);
    border-radius: 1.5rem;
  "
></div>
<!-- contents  -->
<div class="container-fluid">
  <div class="row p-5" *ngFor="let app of doctorService.appointment">
    <h2 class="display-6 my-5">
      Appointment Details : {{ app.AppointmentId }}
    </h2>
    <br />
    <br />
    <p>Patient ID : {{ app.PatientId }}</p>
    <p>Patient Name : {{ app.PatientName }}</p>
    <p>Patient Contact : {{ app.PhoneNumber }}</p>
  </div>
</div>

<!-- add doctors notes  -->

<div class="container-fluid">
  <div class="card p-5 my-3" style="border-bottom: 2px solid #38b6ff">
    <div>
      <h2 class="display-6 my-2 text-center">Add Doctors Notes</h2>
    </div>

    <!-- main doctors notes -->
    <div class="notes row p-3" *ngFor="let app of doctorService.appointment">
      <!-- left div  -->

      <div class="addnote col-md-6">
        <form
          name="empForm"
          #form="ngForm"
          autocomplete="off"
          (ngSubmit)="onSubmit(form)"
        >
          <!-- input filed appointmentID  -->

          <div class="form-group">
            <input
              type="hidden"
              name="AppointmentId"
              value="{{ app.AppointmentId }}"
              [(ngModel)]="doctorService.formData.AppointmentId"
              class="form-control"
            />
          </div>
          <!-- input field for patient id  -->
          <div class="form-group">
            <input
              type="hidden"
              name="PatientId"
              value=" {{ patientId }}"
              [(ngModel)]="doctorService.formData.PatientId"
              class="form-control"
            />
          </div>
          <!-- input field for doctor id -->
          <div class="form-group">
            <input
              type="hidden"
              name="DoctorId"
              value="{{ app.DoctorId }}"
              [(ngModel)]="doctorService.formData.DoctorId"
              class="form-control"
            />
          </div>
          <!-- input for doctors notes  -->
          <div class="form-group">
            <textarea
              type="text"
              name="DoctorsNotes"
              [(ngModel)]="doctorService.formData.DoctorsNotes"
              class="form-control"
              placeholder="Enter Doctors Notes"
              required
              style="
                border: 1px solid #38b6ff;
                border-radius: 0.3rem;
                height: 10rem;
              "
            ></textarea>
          </div>

          <!-- <input
            type="text"
            class="form-control"
            name="Note"
            class="form-control"
            minlength="3"
            required
            #Note
            style="
              border: 1px solid #38b6ff;
              border-radius: 0.3rem;
              height: 10rem;
            "
          /> -->

          <br />
          <!-- submit  -->
          <div class="form-group">
            <button
              type="submit"
              class="btn btn-primary form-control"
              [disabled]="!(form.valid && form.dirty)"
            >
              Submit
            </button>
          </div>
          <!-- <button class="btn btn-primary my-2 text-center (click)="DoPost(Note.value)"">
            
            Add Post
          </button> -->
        </form>

      </div>

      <!-- end left div  -->
      <!-- right div  -->
      <div
        class="notes-list card col-md-6 p-3"
        style="border: 1px solid #38b6ff"
      >
        <h2 class="lead my-4 text-center">Doctors Notes</h2>
        <div
          class="preNote p-2 m-1"
          *ngFor="let noteItem of this.doctorService.patientNotes"
        >
          <p class="m-1">
            {{ noteItem.Note }}
          </p>
        </div>
      </div>
      <!-- end right div  -->
    </div>
  </div>
  <!-- end doctors notes  -->

  <!-- Buttons to Add Medicine Advice and  Test Advice -->
  <div style="display: flex; flex-direction:column;justify-content: space-evenly; " >
    <select required id="doc" name="PharmID" #PharmId="ngModel" [(ngModel)]="PharmID">
      <option *ngFor="let pharm of doctorService.pharms"  value="{{pharm.StaffId}}">{{pharm.Name}}</option> >
  </select>
  <button class="btn btn-primary" (click)="addMedicineadvice(PharmID)">Add Medicine Advice </button> &nbsp; &nbsp;
  <select required id="doc" name="TechID" #TechId="ngModel" [(ngModel)]="TechID">
    <option *ngFor="let tech of doctorService.techs" value="{{tech.StaffId}}">{{tech.Name}}</option> >
</select>
  <button class="btn btn-primary" (click)="addLabTestAdvice(TechID)">Add Test Advice </button>
</div>
  <!-- labtest  -->
  <div id="labTestDiv" class="card p-5 my-3" style="border-bottom: 2px solid #38b6ff;">
    <div>
      <div style="display:flex; justify-content:space-evenly;">
      Test Advice ID : {{TestAdId}} 
      <button class="btn btn-info" (click)="TestSubmit()">Add Test List</button>
    </div>
      <h4 class="display-6 my-4 text-center">Add Lab Test</h4>
    </div>
    <div
      class="container"
      style="
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      "
    >
      <form
        name="labForm"
        #labform="ngForm"
        autocomplete="off"
        (ngSubmit)="addLabTest(form)"
        style="display: flex; flex-direction: row"
      >
        <div class="form-group" style="display: flex; flex-direction: row">
          <select
            class="form-control"
            id="testId"
            name="TestId"
            #TestID="ngModel"
            [(ngModel)]="TestId"
            class="form-control"
            placeholder="select LabTest"
            required
            [ngClass]="{
              'is-invalid': TestID.invalid && TestID.touched
            }"
          >
            <option value="" disabled selected>Select Labtests</option>
            <!-- <option value="" selected disabled>Select Medicine</option> -->
            <option
              *ngFor="let test of doctorService.tests"
              value="{{ test.TestId }}"
            >
              >
              {{ test.TestName }}
            </option>
          </select>
        </div>
        <!-- submit  -->
        <div class="form-group">
          <button type="button" class="btn btn-primary form-control" (click)="addTestPrescription(TestId)" >
            Add Test
          </button>
        </div>
      </form>
    </div>
    <div class="medList my-4">
      <p class="lead text-center">Added Prescriptions</p>
      <div
        class="prescription d-flex justify-content-center"
        *ngFor="let item of TestDetails">
        <p>{{ item.TestId }}</p>
      </div>
    </div>
  </div>

  <!-- end lab test  -->




  <!-- prescription  -->
  
  <div id="prescriptionDiv" class="card p-5 my-3" style="border-bottom: 2px solid #38b6ff; display: none;">
    <div style="display:flex; justify-content:space-evenly;">
       Medicine Advice ID : {{MedAdId}} 
       <button class="btn btn-info" (click)="MedSubmit()">Add Medicine List</button>
      </div>
      <h2 class="display-6 my-4 text-center">Add Medicine Prescriptions</h2>
   
    <div class="container" style="display: flex; flex-direction: column">
      <form
        name="empForm"
        #form="ngForm"
        autocomplete="off"
        (ngSubmit)="onSubmit(form)"
      >
        <div class="container" style="display: flex; flex-direction: row" >
          <select  
            name="MedId"
            #medId="ngModel" 
            [(ngModel)]="MedId"
            class="form-control"
            id="medicineId"
            name="DepartmentId"
            class="form-control"
            placeholder="select LabTests"
          >
            <option value="" selected disabled>Select Medicine</option>
            <option
              *ngFor="let med of doctorService.medicines"
              value="{{ med.MedicineId }}"
            >
              {{ med.MedicineName }}
            </option>
          </select>
          <input  name="MedQty" 
           #medQty="ngModel" 
           [(ngModel)]="MedQty"
            class="mx-1"
            type="number"
            placeholder="Quantity"
            style="border: 0px; border-bottom: 3px solid #38b6ff"
            id="qtyId"

          />
          <button class="btn btn-primary mx-2" style="width: 13rem" (click)=" addMedPrescription(MedId,MedQty)">
            Add Medicine
          </button>
        </div>
      </form>
      <div class="medList my-4">
        <p class="lead text-center">Added Medicines</p>
        <div *ngFor="let med of MedDetails"> 
          <p>{{med.MedicineId}} {{med.Quantity}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="btn btn-primary text-center" (click)="markAsDone()">MARK AS DONE</div>
  </div>
</div>
