<!-- navbar  -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand"
      ><img
        src="../../assets/images/logo small.png"
        class="img-fluid img logo"
        alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav mx-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-bold">Features</a>
        </li>

        <li class="nav-item dropdown active">
          <a
            class="nav-link dropdown-toggle active"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ this.username }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item text-danger" (click)="logout()">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- navbar  -->
<div
  class="colorbar"
  style="
    height: 1rem;
    background: linear-gradient(to right, #c9e265, #38b6ff);
    border-radius: 1.5rem;
  "
></div>
<!-- contents  -->
<div class="container-fluid">
  <div class="row p-5" *ngFor="let app of doctorService.appointment">
    <h2 class="display-6 my-5">
      Appointment Details : {{ app.AppointmentId }}
    </h2>
    <br />
    <br />
    <p>Patient ID : {{ app.PatientId }}</p>
    <p>Patient Name : {{ app.PatientName }}</p>
    <p>Patient Contact : {{ app.PhoneNumber }}</p>
  </div>
</div>

<!-- add doctors notes  -->

<div class="container-fluid">
  <div class="card p-5 my-3" style="border-bottom: 2px solid #38b6ff">
    <div style="display: flex; justify-content: space-evenly">
      <div></div>
      <div></div>
      <h2 class="display-6 my-2 text-center">Doctors Notes</h2>
      <button
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Add Note
      </button>
      <div></div>
    </div>

    <!-- main doctors notes -->
    <div
      class="notes row p-3"
      style="display: flex; justify-content: center"
      *ngFor="let app of doctorService.appointment"
    >
      <!-- right div  -->

      <div
        class="preNote p-2 px-5 m-1"
        *ngFor="let noteItem of this.doctorService.patientNotes; let i = index"
      >
        <p class="px-5">{{ i + 1 }} : {{ noteItem.Note }}</p>
      </div>

      <!-- end right div  -->
    </div>
  </div>
  <!-- end doctors notes  -->

  <!-- labtest  -->
  <div
    id="labTestDiv"
    class="card p-5 my-3"
    style="border-bottom: 2px solid #38b6ff"
  >
    <div>
      <h4 class="display-6 my-4 text-center">Add Lab Test</h4>
    </div>
    <!-- select lab technician  -->
    <div
      class="px-5"
      style="
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      "
    >
      <div class="instruction">
        <p class="lead text-center">
          Please select a lab technician to generate test advice
        </p>
      </div>
      <div class="" style="display: flex; flex-direction: column; justify-content: center;">
        <select
          class="mx-5"
          required
          id="doc"
          name="TechID"
          #TechId="ngModel"
          [(ngModel)]="TechID"
          style="border: 2px solid black;"
        >
          <option
            *ngFor="let tech of doctorService.techs"
            value="{{ tech.StaffId }}"
          >
            {{ tech.Name }}
          </option>
          >
        </select>

        <!-- add the selected lab technician and generate lab test id -->
        <button class="btn btn-primary" (click)="addLabTestAdvice(TechID)">
          Generate Test Advice ID
        </button>
      </div>
    </div>
    <div
      class="container"
      style="
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      "
    >
      <form
        name="labForm"
        #labform="ngForm"
        autocomplete="off"
        (ngSubmit)="addLabTest(form)"
        style="display: flex; flex-direction: row"
      >
        <div class="form-group" style="display: flex; flex-direction: row">
          <select
            class="form-control"
            id="testId"
            name="TestId"
            #TestID="ngModel"
            [(ngModel)]="TestId"
            class="form-control"
            placeholder="select LabTest"
            required
            [ngClass]="{
              'is-invalid': TestID.invalid && TestID.touched
            }"
          >
            <option value="" disabled selected>Select Labtests</option>
            <!-- <option value="" selected disabled>Select Medicine</option> -->
            <option
              *ngFor="let test of doctorService.tests"
              value="{{ test.TestId }}"
            >
              >
              {{ test.TestName }}
            </option>
          </select>
        </div>
        <!-- submit  -->
        <div class="form-group">
          <button
            type="button"
            class="btn btn-primary form-control"
            (click)="addTestPrescription(TestId)"
          >
            Add Test
          </button>
        </div>
      </form>
    </div>
    <div class="medList my-4">
      <p class="lead text-center">Added Prescriptions</p>
      <div
        class="prescription d-flex justify-content-center"
        *ngFor="let item of TestDetails"
      >
        <p>{{ item.TestId }}</p>
      </div>
    </div>
    <div style="display: flex; justify-content: space-evenly">
      Test Advice ID : {{ TestAdId }}
      <button class="btn btn-info" (click)="TestSubmit()">Add Test List</button>
    </div>
  </div>

  <!-- end lab test  -->

  <!-- prescription  -->

  <div
    id="prescriptionDiv"
    class="card p-5 my-3"
    style="border-bottom: 2px solid #38b6ff"
  >
    <h2 class="display-6 my-4 text-center">Add Medicine Prescriptions</h2>
    <div class="" style="display: flex; flex-direction: row">
      <select
        required
        id="doc"
        name="PharmID"
        #PharmId="ngModel"
        [(ngModel)]="PharmID"
      >
        <option selected disabled>Select Pharmacist</option>
        <option
          *ngFor="let pharm of doctorService.pharms"
          value="{{ pharm.StaffId }}"
        >
          {{ pharm.Name }}
        </option>
        >
      </select>
      <button class="btn btn-primary" (click)="addMedicineadvice(PharmID)">
        Create Medicine Advice ID
      </button>
    </div>
    <div style="display: flex; justify-content: space-evenly">
      Medicine Advice ID : {{ MedAdId }}
    </div>

    <div class="container" style="display: flex; flex-direction: column">
      <form
        name="empForm"
        #form="ngForm"
        autocomplete="off"
        (ngSubmit)="onSubmit(form)"
      >
        <div class="container" style="display: flex; flex-direction: row">
          <select
            name="MedId"
            #medId="ngModel"
            [(ngModel)]="MedId"
            class="form-control"
            id="medicineId"
            name="DepartmentId"
            class="form-control"
            placeholder="select LabTests"
          >
            <option value="" selected disabled>Select Medicine</option>
            <option
              *ngFor="let med of doctorService.medicines"
              value="{{ med.MedicineId }}"
            >
              {{ med.MedicineName }}
            </option>
          </select>
          <input
            name="MedQty"
            #medQty="ngModel"
            [(ngModel)]="MedQty"
            class="mx-1"
            type="number"
            placeholder="Quantity"
            style="border: 0px; border-bottom: 3px solid #38b6ff"
            id="qtyId"
          />
          <button
            class="btn btn-primary mx-2"
            style="width: 13rem"
            (click)="addMedPrescription(MedId, MedQty)"
          >
            Add Medicine
          </button>
        </div>
        <div class="medList my-4">
          <p class="lead text-center">Medicines List</p>
          <div *ngFor="let med of MedDetails">
            <p>
              {{ med.MedicineId }} {{ med.Quantity }} {{ med.MedicineName }}
            </p>
          </div>
        </div>
        <div class="m-5" style="display: flex; justify-content: center">
          <button class="btn btn-info" (click)="MedSubmit()">
            Add Medicine List
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="row my-3">
    <div class="btn btn-primary text-center" (click)="markAsDone()">
      MARK AS DONE
    </div><br>
    <div class="btn btn-secondary" (click)="GoBack()">
     Go Back
    </div>
  </div>
</div>

<!-- modals -->

<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Doctor Note</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div
          class="addnote p-2"
          style="display: flex; flex-direction: row; justify-content: center"
        >
          <!-- model driven form  -->
          <form
            [formGroup]="notesForm"
            (ngSubmit)="noteSubmit(notesForm.value)"
          >
            <!-- appointment id  -->
            <input
              type="number"
              name="NoteId"
              id="NoteId"
              formControlName="NoteId"
              hidden
            />
            <!-- patient id  -->
            <input
              type="number"
              name="PatientId"
              id="PatientId"
              placeholder="choose patient id"
              formControlName="PatientId"
              class="my-3"
            />
            <!-- doctor id  -->
            <input
              type="number"
              name="DoctorId"
              id="DoctorId"
              formControlName="DoctorId"
              hidden
            />
            <!-- doctor note  -->
            <textarea
              name="Note"
              id="Note"
              formControlName="Note"
              placeholder="Enter Doctor Note"
              class="my-3"
              style="border: opx; border-bottom: 3px solid #38b6ff; width: 100%"
            ></textarea>
            <!-- button  -->
            <div class="row">
              <button class="btn btn-primary my-3" type="submit">
                Add Note
              </button>
            </div>
          </form>
          <!-- end forms  -->
        </div>
      </div>
    </div>
  </div>
</div>
