<!-- navbar  -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand"
      ><img
        src="../../assets/images/logo small.png"
        class="img-fluid img logo"
        alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav mx-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-bold"  routerLink="/medicines">Medicines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-bold"  routerLink="/medicinesbill">Medicines Bill</a>
        </li>
        <li class="nav-item dropdown active">
          <a
            class="nav-link dropdown-toggle active"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ this.username }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item text-danger" (click)="logout()">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- navbar  -->
<div
  class="colorbar"
  style="
    height: 1rem;
    background: linear-gradient(to right, #c9e265, #38b6ff);
    border-radius: 1.5rem;
  "
></div>

<!-- contents  -->
<div class="container">
  <h2 class="display-6 my-2">Prescriptions</h2>
  <div
    class="row my-2 shadow-sm px-2 my-5 justify-content-around"
    style="border-bottom: 1px solid #38b6ff"
    *ngFor="
      let item of pharmService.advice
        | filter: filter
        | paginate: { itemsPerPage: 4, currentPage: page }
    "
  >
    <div class="token col-md-2">
      <div class="px-3">
        <h5 class="text-center">Appointment ID : {{ item.AppointmentId }}</h5>
      </div>
    </div>
    <div class="col-md-3">
      <p>Patient ID : {{ item.PatientId }}</p>
      <p>Patient Name : {{ item.Patient }}</p>
    </div>
    <div class="col-md-3">
      <button
        class="btn btn-primary mx-2"
        (click)="updatePrescription(item.PatientId)"
      >
        View Details
      </button>

      <button class="btn btn-danger">Mark As Done</button>
    </div>
  </div>
  <div class="paginate justify-content-center">
    <pagination-controls
      (pageChange)="page = $event"
      class="text-center"
    ></pagination-controls>
  </div>
</div>
