<div class="container">
  <br>
  <h2 style="text-align: center;font-size:30px;font-family: fantasy;">{{title}}</h2>
  <div class="card">
    <div class="card-body">
      <nav class="navbar navbar-expand-md navbar-tomato bg-dark text-light">
        <a class="navbar-brand text-light">Home</a>
      </nav>
      <!--<app-appointment></app-appointment>-->
      <!--<app-consultationbill></app-consultationbill>-->
      <!--<app-medicinebill></app-medicinebill>-->
      <app-testreport></app-testreport>
      <!--<app-finalbill></app-finalbill>-->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <span>&copy; All Rights Reserved 2022</span>
  </div>
</footer>