<header class="header header-primary bg-secondary" style="height: 70px; ">
  <div class="container  " style="width: 100%; text-align: left; padding: 20px; ">
    <span class="text text-white"><h5>Welcome To {{title}}</h5></span>
  </div>
</header>


<div class="container">
  <br>
  <h2 style="text-align: center; font-size: 200%; font-family: fantasy;">{{title}}</h2>
  <div class="card">
    <div class="card_body">
      <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand " style="margin-right: 50%; margin-left: 45%;" href="/home">Table Of Tests</a>
      </nav>
      <app-patients></app-patients>
      <!-- <app-labtests></app-labtests> -->
      <!-- <app-testadvices></app-testadvices> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer footer-primary bg-secondary fixed-bottom" style="height: 70px; bottom: 0%; ">
  <div class="container " style="width: 100%; text-align: center; padding: 20px;  margin-bottom: 0%;">
    <span class="span " style="text-align: center;">All rights reserved 2022 @faith</span>
  </div>
</footer>