<!-- navbar  -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand"
      ><img
        src="../../assets/images/logo small.png"
        class="img-fluid img logo"
        alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav mx-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-bold">Features</a>
        </li>

        <li class="nav-item dropdown active">
          <a
            class="nav-link dropdown-toggle active"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ this.username }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item text-danger" (click)="logout()">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- navbar  -->
<div
  class="colorbar"
  style="
    height: 1rem;
    background: linear-gradient(to right, #c9e265, #38b6ff);
    border-radius: 1.5rem;
  "
></div>

<!-- contents  -->
<div class="container-fluid">
  <div class="row">
    <h2 class="display-6 my-1">Dashboard</h2>
  </div>
  <div
    class="row p-2 justify-content-end shadow-sm"
    style="border: 1px solid #38b6ff"
  >
    <div class="col-md-9">
      <input
        class="form-control"
        type="text"
        placeholder="Search from the list"
        [(ngModel)]="filter"
      />
      {{ filter }}
    </div>
    <input
      class="col-md-3 form-control shadow-sm"
      type="date"
      style="width: 12rem; border-radius: 0.3rem; border: 1px solid #38b6ff"
      #date
    />
    <button
      class="btn btn-light col-md-4 mx-2 text-white shadow-sm"
      style="max-width: 10rem; background-color: #38b6ff"
      (click)="loadApppointments(date.value)"
    >
      Get Appointments
    </button>
  </div>
  <div class="row">
    <div class="col-3"></div>
  </div>
</div>
<!-- contents  -->
<div
  class="row my-2 shadow-sm px-2 my-5 justify-content-around"
  style="border-bottom: 1px solid #38b6ff"
  *ngFor="
    let item of doctorService.appointments
      | filter: filter
      | paginate: { itemsPerPage: 4, currentPage: page }
  "
>
  <div class="token col-md-2">
    <div class="px-5">
      <h4 class="text-center">Token</h4>
      <br />
      <h5 class="text-center">{{ item.TokenNo }}</h5>
    </div>
  </div>
  <div class="col-md-3">
    <p>Patient ID : {{ item.PatientId }}</p>
    <p>Patient Name : {{ item.PatientName }}</p>
    <p>Appointment ID : {{ item.AppointmentId }}</p>
  </div>
  <div class="col-md-3">
    <button
      class="btn btn-primary mx-2"
      (click)="
        updatePatient(item.AppointmentId); 
        updateAppointment(item.AppointmentId)
      "
    > 
    <!--updateAppointment(item.AppointmentId)-->
      View Details
    </button>
  </div>
</div>
<div class="paginate justify-content-center">
  <pagination-controls
    (pageChange)="page = $event"
    class="text-center"
  ></pagination-controls>
</div>
