<!-- navbar  -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand"><img src="../../assets/images/logo small.png" class="img-fluid img logo" alt="" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav mx-3">
                <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/lab-technician">Home</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link active text-bold">Features</a>
                </li>

                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle active" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ loggedUser |uppercase }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" (click)="logOut()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- navbar  -->
<div class="colorbar" style="
      height: 1rem;
      background: linear-gradient(to right, #c9e265, #38b6ff);
      border-radius: 1.5rem;">
</div>

<header>
    
    <div>
        <nav class="nav" style="display:-webkit-inline-flex;  margin-left: 40%; padding: 6px;">
            <ul class="nav">
                <li class="nav-item" style="margin-right: 20px;">
                    <!-- <a class="nav-link" href="#" routerLink="/user">User</a> -->
                    <button class="btn btn-sm btn-warning" routerLink="/test-advice-list">List Of Test Advices</button>
                </li>

                <li class="nav-item" style="margin-right: 20px;">
                    <!-- <a class="nav-link" href="#" routerLink="/attendance">Attendance</a> -->
                    <button class="btn btn-sm btn-warning" (click)="addTest()">Add New Tests</button>
                </li>
                <li class="nav-item" style="margin-right: 20px;">
                    <!-- <a class="nav-link" href="#" routerLink="/attendance">Attendance</a> -->
                    <button class="btn btn-sm btn-warning" routerLink="/viewtest">View Tests</button>
                </li>
                <li class="nav-item" style="margin-right: 20px;">
                    <!-- <a class="nav-link" href="#" routerLink="/attendance">Attendance</a> -->
                    <button class="btn btn-sm btn-warning" routerLink="/viewreport">View Report </button>
                </li>
            </ul>
        </nav>
    </div>
</header>




<div class="container">
    <div class="header" style="padding: 5px;">
        <div class="form-control " >
            <input class="form-control" style="padding: 10px; margin-top: 20px; margin-bottom: 20px;" type="text" placeholder="search" [(ngModel)]="filter">
            <!-- {{filter}} -->            
        </div>
                    <!-- button -->                  
                    <!-- &nbsp;
                    <button class="btn btn-sm btn-danger" (click)="deletePost(p.Postid)">Delete</button> -->
        <div class="row" >
       <div class="col-md-3 bg-dark text-light" *ngFor="let test of labtestService.testview|filter:filter|paginate:{itemsPerPage:3,currentPage:page}" style="border: 1px solid black;margin-left:5px; margin-right:60px; margin-bottom:20px; border-radius:20px;"><br>
        <h5>Test Report No:{{test.TestReportId}}</h5>
        <h6> Patient Name:{{test.PatientName}}</h6>
        <h6> Mobile No:{{test.Mobile}}</h6>
        <h6>Sex:{{test.Sex}}</h6>
        <h6>Appointment Date:{{test.AppointmentDate|date:'dd-MMM-yyyy'}}</h6>
        <h6 style="text-align: center;">Tests:</h6><p style="text-align: center;" *ngFor="let item of test.TestDetails let i as index">
            {{item.TestName}}
        </p>
        <button class="btn btn-sm btn-warning" style="width:100%; margin-bottom:15px;" (click)="updateTestReport(test.TestReportId)">Edit</button>
            </div>
   
    </div>

    <footer>
        <!-- pagination -->
        <pagination-controls (pageChange)="page =($event)"></pagination-controls>

    </footer>
</div>